.home-page {
    display: flex;
    margin-top: 40vh;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
  }
  
  .welcome-message {
    text-align: center;
  }
  
  .welcome-heading {
    margin-top: 10vh;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #7A5CFA; /* Primary color */
  }
  
  .welcome-text {
    font-size: 20px;
    line-height: 1.5;
    color: #333; /* Text color */
  }
  