.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #000000, #000000);
  padding: 10px 20px;
  z-index: 999;
}

.connversehead{
  margin-top: 0px;
  align-items: center;
  height: 1vh;
  display: flex;
  align-items: center;
}


/*  */
.nav-items {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 51vw;
  margin: 0;
}

.nav-item {
  padding-left: 1vw;
  margin-right: 20px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.nav-link span {
  font-size: 18px;
}



.nav-link:hover {
  transform: translateY(-2px);
  filter: brightness(1.2);
}

#Conn1 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 2vmax;
  color: rgb(255, 255, 255);
  margin-right: 20px; /* Add some spacing between "Connverse" and the navbar */
  display: flex;
  align-items: center;
}

.connversehead{
  align-items: center;
  height: 1vh;
  display: flex;
  align-items: center;
}

/* dropDown */

