body {
    margin-top: 10vh;
    margin-left: 2vw;
    background-color: #E4DEFE;
    font-family: Arial, sans-serif; /* Use a common sans-serif font */
    color: #333; /* Set default text color */
    margin-right: 10vw;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-section {
    margin-bottom: 20px;
  }
  
  .input-section label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .input-section input,
  .input-section textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .header-key-input{
    width: 25%;
  }
  .header-value-input{
    width: 70%;
  }
  .input-section1 input,
  .input-section1 textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .input-section1 {
    display: flex;
    flex-direction: column;
  }

  .header-input-container {
    gap: 1%;
    display: flex;
    align-items: center; /* Align items horizontally */
  }
  .input-section textarea {
    resize: vertical; /* Allow vertical resizing only */
    outline: none;
  }
  
  .input-section button,.input-section1 button {
    width: auto;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7A5CFA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .progress-section{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  .input-section button:hover {
    background-color: #7A5CFA 0.8;
  }

  .progress-section progress {
    width: 100%;
    height: 30px;
    outline: none;
  }
  
  .progress-section progress::-webkit-progress-bar {
    background-color: #ffffff;
  }
  
  .progress-section progress::-webkit-progress-value {
    background-color: #7A5CFA;
  }
  
  .progress-section progress::-moz-progress-bar {
    background-color: #7A5CFA;
  }
  
  .progress-section progress::-ms-fill {
    background-color: #7A5CFA;
  }
  